<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmetic Center</title>

    {% include "forget_password/include_css.html" %}
</head>
<body>
    {% include "forget_password/header.html" %}
    <main>
        <h2>Востановление пароля</h2>
        <form class="container" action="/password_reset/confirm/" method="post">
            {% csrf_token %}
            <p>Введите новый пароль</p>
            <input type="password" name="password1" placeholder="Введите пароль">
            <input type="password" name="password2" placeholder="Повторите пароль">
            <button type="submit">Отправить</button>
        </form>
    </main>
</body>
</html>