<header>
    <div class="wrap">
        <div class="wrap_header">
            <h1><a href="/">Cosmetic Center</a></h1>
            <ul class="menu">
                <li class="dropdown" data-path="SHOP"><a href="/shop">Магазин</a></li>
                <li data-path="SERVICES"><a href="/services">Услуги</a></li>
                <li data-path="ARTICLES"><a href="/articles">Статьи</a></li>
                <li data-path="CONTACTS"><a href="/contacts">Контакты</a></li>
            </ul>
        </div>
    </div>
</header>